.body{
    background-color: white;
    margin:100px;
}
.box{
    background-color: rgb(172, 197, 224);
    width: 600px;
    height:600px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 15px;   
    box-shadow: 0 0 30px rgb(49, 49, 63);
}
.h1{
    font-family: "time new roman";
    font-size: large;
    text-transform: capitalize;
    text-align: center;
    line-height: 50px;
    margin-left: 30%;
    margin-right: 30%;
    text-shadow: 0 0 2px black;
}
.foto{
    width: auto;
    height: 300px;
    display: block;
    margin: auto;
    border: 5px solid black;
    border-radius: 100%;
}

.h4{
    text-align: center;
}
.p{
    text-align: center;
}