.fondo{
    background-color: black;
    padding: 15px;
}

.titulo{
    text-align: center;
    margin-top: 5px;
    color: white;
}
.cuerpo{
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(68, 68, 69);
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border: 1px solid white;
    border-radius: 25px;
    font-style: italic;
    font-weight: bold;
    box-shadow: 0 0 30px white;
    background:linear-gradient(to bottom, #222,#000);
    color: rgb(204, 201, 201);
}

.form_input label{
    display: block;
    margin: 10px;
}

.form_input input{
    display: block;
    margin: 1px;
    width: 100%;
    border: 2px solid rgb(100, 97, 97);
    border-radius: 5px;
}
.ingresar{
    text-align:center;
    margin-top: 2%;
}
.enviar{
    text-align: center;
    margin-top: 25px;
}
.archivo{
    box-sizing: border-box;
    margin-bottom: 25px;
    
    
}
.fecha{
    width: 25%;
}
fieldset{
    box-sizing: border-box;
    width: 100%;
    border: 3px solid rgb(88, 85, 85);
    border-radius: 5px;
    
}
legend{
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
}