.fondo{
    background-color: rgb(2, 2, 2);
    padding: 20px;
}
.cuerpo{
    background-color:rgb(245, 245, 248);
    margin: auto;
    max-width: 700px;
    padding: 15px;
    height: ;
    border: 5px solid rgb(251, 250, 250);
    border-radius: 25px;
    box-shadow: 0 0 30px rgb(30, 39, 215);
    
    }

.menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding:5px;
    
}

p {
    font-family: "camilo", serif;
    font-size: 16px;
    font-weight: 400;
    font-style: oblique;
    text-align: left;
    text-align: justify;
    line-height: 1.3;
}
ul{
    font-weight: bold;
    text-transform: capitalize
}
h2 {
    font-style: italic;
    text-align: center;
}
h3{
    text-transform: capitalize
}
h4 {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    font-style: italic;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 40px;
    margin-left: 10px;
}
form{
    background-color: rgb(141, 146, 184);
    padding:3px;
    width: 50%;
    border-radius: 50px;
    border:1px solid black;
}
label{
    margin:10px;
}
.destinos{
    position:relative;
    bottom: 10px;    
}
.lista{
    width: 55%;
}
.referente{
    width: 55%;
}
.departamento{
    text-decoration: none;
}

.formone{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 10px;
    position: relative;
    left: 345px;
    top: 65px;
}
.formtwo{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 10px;
    position: relative;
    right: 20px;
    top:8px;
    height: 40px;
    }
.visitar{
    margin: 10px;
    margin-left: 0px;
    border-radius: 3px;    
}
.imagen{
    width: 180px;
    border-radius: 100%;
    position: relative;
    left: 480px;
    bottom: 50px;
    box-shadow: 0 0 20px 0 white;
}

.colombia{
    width: 180px;
    border-radius: 5%;
    position: relative;
    left: 300px;
    top: 80px;
    filter: drop-shadow(0px 0px 5px rgb(241, 7, 7));
}
summary{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    margin:5px;
    padding:5px;
    
    
}
details[open]{
    color:rgb(80, 80, 82);
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    }

a{
    color:black;
    font-style: italic;
    }